<%- include('bootheader') -%>

<%- include('menubar') -%>

<div class="jumbotron">
    <h1>Monthly Temp Anomalies from 2020 to 2039</h1>
</div>



<% results.map((temp) => {%>
<div style="border-top:thick solid blue; margin:20; padding:10">
    <h1 class="bg-warning">Monthly Temp Anomaly Values</h1>
    <div class="row">
        <div class="col">
            <h2 class = "display-5">All the Monthly Temp Anomaly Values from 2020-2039</h2>
            <ol class="list-group list-group-numbered">
            <% temp.monthVals.map((i) => {%>
                <li class = "list-group-item"> <%= i %>  </li>
            <%})%>
            </ol>
        </div>
   </div>
</div>
<%})%>






<%= JSON.stringify(results) %>


<%- include('bootfooter') -%>
